{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "utils": "./src/utils",
          "@pages": "./src/pages",
          "@redux": "./src/redux",
          "assets": "./src/assets",
          "@styles": "./src/styles",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
